body {
font-family: sans-serif;
margin:0;
padding:5px;
background-color:rgb(135, 141, 174);

}
.span {
    font-size: 10px;
    font-weight:lighter;

}
.container {
    width: 100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color: #000;
    position: relative;
}
.card {
    width: 320px;
    height: 370px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: -10px;
    padding-right:px;
    margin: 50px;
    
}
span{
    font-family:sans-serif;
    font-size: 15px;
    font-weight:lighter;
}
.tag {
    background-color: #e6e3a7;
    color: #090101;
    padding: 5px 10px;
    border-radius: 5px 10px 10px 5px;
    text-align: leftcorner;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: absolute;
    left: 0px;/* Adjust this value to move the tag left ,negavtive to go outside */
    top: 50px;/* Adjust this value to move the tag up  */
    left: 770px;/* Adjust this value to move the tag left */
      z-index: 1; /* Ensure the tag is on top of the card */
}
img {
  position:relative;
  height: 900px;
  width: 380px;
  


} 
h2{
  position: relative;
  right: 50px;
  padding-bottom: 5px;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: semibold;
    line-height: 1.5;
    text-align: left
    margin-bottom: 20px;
}
/* Default styles (mobile-first approach) */
img {
    max-width: 100%; /* Ensure images are responsive */
    height: auto;
    display: block;
  }
  
  h1 {
    font-size: 1.5rem; /* 24px */
  }
  
  /* Tablet styles */
  @media (min-width: 769px) {
    h1 {
      font-size: 2rem; /* 32px */
    }
    .container {
      width: 85%;
    }
  }
  
  /* Desktop styles */
  @media (min-width: 1025px) {
    h1 {
      font-size: 2.5rem; /* 40px */
    }
    .container {
      width: 80%;
    }
  }