body {
font-family: sans-serif;
margin:0;
padding:5px;
background-color:rgb(135, 141, 174);

}
.span {
    font-size: 10px;
    font-weight:lighter;

}
.container {
    width: 100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color: #000;
    position: relative;
}
.card {
    width: 320px;
    height: 370px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: -10px;
    padding-right:px;
    margin: 50px;
    
}
span{
    font-family:sans-serif;
    font-size: 15px;
    font-weight:lighter;
}
.tag {
    background-color: #e6e3a7;
    color: #090101;
    padding: 5px 10px;
    border-radius: 5px 10px 10px 5px;
    text-align: leftcorner;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    position:relative;
    right:130px;
    top:10px;
}
img {
  position:relative;
  height: 900px;
  width: 380px;
  


} 
h2{
  position: relative;
  right: 50px;
  padding-bottom: 5px;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    width: 320px;
    position: relative;
    bottom:20px;
  

}
